h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

ul {
  font-size: 2em;
  margin: 10px;
}

li {
  margin: 10px 0;
}

li > ul {
  margin: 0;
  font-size: 1em; /* don't double up on 2em font-size */
}

.title-slide {
  text-align: center;
  background: url(american-flag.jpg);
  background-size: 102%;
}

.title-slide .title-text {
  position: absolute;
  top: 25%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.vendor-logo {
  position: absolute;
  max-width: 300px;
}

.left-logo {
  left: 5%;
}

.right-logo {
  right: 5%;
}

.strong {
  font-weight: bold;
}

.left-photo {
  width: 25%;
  float: left;
  margin: 5px;
}
.right-photo {
  width: 25%;
  float: right;
  margin: 5px;
}