h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.title {
  text-align: center;
  position: absolute;
  top: 25%;
  width: 100%;
}

.strong {
  font-weight: bold;
}

.left-photo {
  width: 25%;
  float: left;
  margin: 5px;
}
.right-photo {
  width: 25%;
  float: right;
  margin: 5px;
}