[submodule "extra"]
	path = extra
	url = https://github.com/enyojs/extra
[submodule "enyo"]
	path = enyo
	url = https://github.com/enyojs/enyo
[submodule "onyx"]
	path = onyx
	url = https://github.com/enyojs/onyx
[submodule "layout"]
	path = layout
	url = https://github.com/enyojs/layout
[submodule "Labs"]
	path = Labs
	url = https://github.com/Newness/Labs
[submodule "NewnessLabs"]
	path = NewnessLabs
	url = https://github.com/Newness/Labs
