[submodule "extra"]
	path = extra
	url = https://github.com/enyojs/extra
[submodule "enyo"]
	path = enyo
	url = https://github.com/enyojs/enyo
[submodule "onyx"]
	path = onyx
	url = https://github.com/enyojs/onyx
[submodule "layout"]
	path = layout
	url = https://github.com/enyojs/layout
[submodule "more-arrangers"]
	path = more-arrangers
	url = git://github.com/ShiftyAxel/more-arrangers.git
