[submodule "extra"]
	path = lib/extra
	url = https://github.com/enyojs/extra
[submodule "onyx"]
	path = lib/onyx
	url = https://github.com/enyojs/onyx
[submodule "layout"]
	path = lib/layout
	url = https://github.com/enyojs/layout
[submodule "enyo"]
	path = enyo
	url = https://github.com/enyojs/enyo.git
[submodule "lib/more-arrangers"]
	path = lib/more-arrangers
	url = git://github.com/ShiftyAxel/more-arrangers.git
